<%= render @event %>
<% if can? :manage, @event %>
  <%= link_to "Create a Team", new_team_path(:event_id => @event) %>
<% end %>

<h3>Teams</h3>
<% @event.teams.each do |team| %>
  <%= render team %>
  <% team.jobs.each do |job| %>
    <%= render job %>
  <% end %>
<% end %>
